html {
    background-color: rgb(23, 109, 167);
}

body {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    width: 80%;
    padding: 20px;
    background-color: rgb(108, 228, 38);
}

table.gridtable {
    color: rgb(18, 18, 100);
    border-width: 1px;
    border-color: rgb(71, 71, 110);
    border-collapse: collapse;
} 
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: rgb(51, 129, 134);
    background-color: #ccf;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background-color: #fff;
}