doctype 
html 
    head 
    body 
        form(method='post', action='/home')
            p Username:
                br
                input(type='text' name='username')
            p Password: 
                br
                input(type='text' name='password')
            p 
                input(type='submit' value='Login')
        form(method='get', action='/logout')
            p  
                input(type='submit' value='Home')
                