doctype html
html(lang="en")
    head
    body
        form(method='get', action='/login')
            p 
                input(type='submit' value='Login')
        form(method='get', action='/create')
            p 
                input(type='submit' value='Create account')