extends layout 

block content
        form(method='get', action='/login')
            p 
                input(type='submit' value='Login')
        form(method='get', action='/create')
            p 
                input(type='submit' value='Create account')